{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.0"}
        com.datomic/peer {:mvn/version "1.0.6733"}}
 :aliases {:dev {:extra-paths ["resources"]
                 :extra-deps {org.clojure/tools.namespace {:mvn/version "0.2.3"}}}}}
